body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
}

#color-title {
  color: #00A79D;
}

.filter-label {
  width: 50%;
  margin: 0 auto;
}

.filter-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  align-content: space-between;
  margin: 10px auto;
}


.filter-btns button {
  border: none;
  background-color: #6D6E71;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  width: 100px;
  margin: 5px 5px;
}

.filter-btns button:hover {
  background-color: #045E55;
}

.filter-btns button:focus {
  background-color: #045E55;
  border: none;
}

.search-container {
  display: flex;
  justify-content: center;
}

#notComplete {
  display: none;
}

#complete {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: .7;

}

#card-box {
  width: 100%;
}

.status-btn-box {
  float: right;
  margin-top: 2em;
  z-index: 2;
}

.status-btn {
  display: block;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  margin: 10px 0 0 0;
}

#delete-btn {
  background-image: url('../images/delete.svg');
  background-repeat: no-repeat;
}

#delete-btn:hover {
  background-image: url('../images/delete-hover.svg');
}

#delete-btn:focus {
  outline: none;
}

#complete-btn {
  width: 27px;
  background-image: url('../images/success-1.svg');
  background-repeat: no-repeat;
}

#complete-btn:hover {
  background-image: url('../images/success.svg');
  background-repeat: no-repeat;
}

.item-card {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

#input-field-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 60%;
}

h1{
  margin: 20px 0 0 0;
  font-family: 'Roboto Slab', sans-serif;
  color: #6D6E71;
}

h2 {
  max-width: 80%;
  color: #6D6E71;
}

#item-content {
  font-size: 24px;
  max-width: 90%;
  max-height: 80px;
  min-height: 80px;
  letter-spacing: 1px;
  border: 2px solid #D1D3D4;
}

.item-title {
  height: 32px;
  font-size: 24px;
  border: 2px solid #D1D3D4;
}

#input-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  background-color: #E5F3F2;
}

#line-1 {
  display: flex;
  justify-content: space-between;
}

#line-2 {
  margin: 10px 0;
  max-width: 100%;
  color: #939598;
  line-height: 25px;
}

#line-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #D1D3D4;
}

.content-width {
  width: 90%;
  margin-top: 20px;
}

p {
  margin: 0;
}

#rating-line {
  color: #6D6E71;
}

#save-btn {
  margin-bottom: 20px;
  font-size: 20px;
  color: #FFFFFF;
  background: #00A79D;
  border: none;
  padding-bottom: 4px;
  letter-spacing: 1px;
  height: 32px;
}

#save-btn:hover {
  background: #045E55;
}

#search {
  font-size: 24px;
  letter-spacing: 1px;
  border: 2px solid #D1D3D4;
}

#upvote-btn {
  background: none;
  border: none;
  background-image: url('../images/upvote.svg');
  background-repeat: no-repeat;
  width: 30px;
  margin-right: 10px;
  height: 50px;
  margin-top: 22px;
}

#upvote-btn:hover {
  background-image: url('../images/upvote-hover.svg');
}

#upvote-btn:focus {
  outline: none;
}

#downvote-btn {
  background: none;
  border: none;
  background-image: url('../images/downvote.svg');
  background-repeat: no-repeat;
  width: 30px;
  margin-right: 10px;
  height: 50px;
  margin-top: 22px;
}

#downvote-btn:hover {
  background-image: url('../images/downvote-hover.svg');
}

#downvote-btn:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  #input-field-box {
    width: 95%;
  }

  #input-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
  }

  .content-width {
    border: solid 1px #D1D3D4;
    width: 70%;
    margin-top: 20px;
  }

  h1 {
    font-size: 70px;
  }

  .item-card {
    margin:0 auto;
    width: 50%;
  }

  .filter-button {
    width: 50%;
  }

}
